<h1>Edit my booking with <%= @booking.teacher.user.first_name %> <%= @booking.teacher.user.last_name %> on <%= @booking.date.to_time.strftime('%B %e %Y' ) %> </h1>

<%= render 'form', garden: @booking %>
