<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbbfawc0n/image/upload/v1639563464/lagos-techie-kwzWjTnDPLk-unsplash_holncv.jpg);">
  <div class="container">
    <h1>Need a little bit of code? <br><strong>Perfect.</strong></h1>
    <%= render 'shared/search' %>
  </div>
</div>
