<div class="cards-home d-flex justify-content-around">

        <div class="card-speciality ruby" >
          <img src="https://res.cloudinary.com/dbbfawc0n/image/upload/v1639576342/VSMWardAzureRuby_pcnske.jpg" />
          <div class="card-speciality-infos ">
            <div>
              <h2>Ruby</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>


        <div class="card-speciality javascript">
          <img src="https://res.cloudinary.com/dbbfawc0n/image/upload/v1639576349/Getting-Started-with-Modern-JavaScript---4_v3jun6.png" />
          <div class="card-speciality-infos ">
            <div>
              <h2>Javascript</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>


      <div class="card-speciality rails">
        <img src="https://res.cloudinary.com/dbbfawc0n/image/upload/v1639576328/yulian-alexeyev-ZFJgmAonylo-unsplash_vles5h.jpg" />
        <div class="card-speciality-infos ">
          <div>
            <h2>Rails</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
</div>
