<%= simple_form_for :search, url: teachers_path, method: :get do |f| %>
    <%= f.input :specialty, collection: Teacher::SPECIALITIES, as: :select, label: false%>
    <%= f.input :city_name, collection:Teacher::CITIES, as: :select, label: false%>
    <button name="button" type="submit" class="btn btn-danger">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
