
<div class="test">
  <%= render 'shared/banner' %>
</div>


<div class="container">
  <div class="texte" >
    <h1>Besoin d’aide dans l’une de ces <span class="highlight-red"> thématiques ?</span></h1>
  </div>
  <div>
    <%= render 'shared/card_home' %>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
