<%= render 'shared/banner' %>

<div class="test">
</div>

<div class="cards-section">
  <h1>Besoin d’aide dans l’une de ces thématiques ?</h1>
</div>

<%= render 'shared/card_home' %>

<div class="test">
</div>
