
.card-booking-body, .card-teacher-body {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  flex: 1;
}

.card-booking-avatar img, .card-teacher-avatar img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-speciality > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-speciality h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-speciality p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-speciality .card-speciality-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-speciality-infos .card-speciality-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards-home {
  display : flex;
  justify-content: space-between;
}


.ruby {
  padding: 20px;
  z-index: 3;
}

.javascript {
  padding: 20px;
}

.rails {
  padding: 20px;
}

// .card-speciality-ruby {
//   // width: 305px;
//   // height: 399px;
//   // // left: -200px;
//   // background: #51000F;
//   // border-radius: 10px;
// }
