
.card-booking-body {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  flex: 1;
}

.card-booking-avatar img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}
