// NAVBAR HOMEPAGE

.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.1s background-color ease;
  z-index: 3;
  position: sticky;
  top: 0;
  * {
    color: white!important;
  }
}



.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  margin: 0 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-lewagon-white {
  background-color: white;
  a {
    color:black;
  }
}

.test {
  height: 90vh;
}

.navbar-brand h3 {
  margin: 0 0 0 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
}

// NAVBAR AUTRES PAGES

.navbar-lewagon-pages {
  justify-content: space-between;
  background-color: #d7d7d789;
  z-index: 3;
  margin-bottom: 50px;
}

.navbar-lewagon-pages > a {
  color: rgb(0, 0, 0);
}

.navbar-lewagon-pages .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(0, 0, 0);
  margin: 0 15px;
}

.navbar-lewagon-pages  .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-pages  img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-stop {
  margin-right: 40px;
}
