// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/card";
@import "components/map";
@import "pages/index";
// @import "booking/show"

.highlight-red {
  background-color:#FFE0E1;
  color: red;
}

body {
  background-color: white;
}

h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// GESTION MARGIN DIV CENTRALE
.container-margin {
  margin: 60px;
}

// // PAGE BOOKING

.card-booking-title h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

// .card-booking {
//   height: 450px;
// }
// .card-booking-title h2 {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 48px;
// }

// .card-booking-body {
//   margin: 50px;
// }

// .card-booking-info {
//   margin: 10px;
// }

h1 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 48px;
}
// PAGE FORM TA
form {
  font-family: Raleway;
  font-style: normal;

  p {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

input[type=submit] {
  color: rgb(0, 0, 0);
  padding: 8px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: background 0.3s ease;
  margin: 30px 0 30px 0;

    :hover {
      background: #ededed;
      color: rgb(0, 0, 0);
    }
}

// PAGE FORM EDIT TA

// .form-actions .btn-wagon {
//   margin: 30px 0 30px 0;
// }
